<!-- Modal inscription-->
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mr-5 ml-5">
                <!-- <form action=""> -->
                    <div class="form-group">
                        <label for="nom">Nom : </label>
                        <input type="text" class="form-control"  [(ngModel)]="adherent.nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom : </label>
                        <input type="text" class="form-control" [(ngModel)]="adherent.prenom" >
                    </div>
                    <div class="form-group">
                        <label for="psw">Password : </label>
                        <input type="text" class="form-control" [(ngModel)]="adherent.psw">
                    </div>
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="text" class="form-control"  [(ngModel)]="adherent.email">
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse : </label>
                        <input type="text" class="form-control" [(ngModel)]="adherent.adresse" >
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville : </label>
                        <input type="text" class="form-control"  [(ngModel)]="adherent.ville">
                    </div>
                    <div class="form-group">
                        <label for="tel">Téléphone : </label>
                        <input type="number" class="form-control"  [(ngModel)]="adherent.tel">
                    </div>
                    <!-- <button routerLink="/adherents"  class="d-block mr-auto ml-auto" click="onSaveAdherent()" >Valider</button> -->
                 <button  class="d-block mr-auto ml-auto" click="console.log(adherent)" >Valider</button>
                <!-- </form> -->

            </div>
        </div>
    </div>
</div>
