<footer class="mt-5 p-5">
    <div class="row">
        <div class="col-md-4 bd-example">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem
                pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est.</p>
        </div>
        <div class="col-md-4">
            <p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem
                pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est.</p>
        </div>
    </div>
</footer>