.container{
    margin-top:5rem;
}
fieldset {
    min-width: 0;
    padding: 0 20px;
    margin: 0;
    border: 2px solid #993366;
    border-radius: 10px;
    background: #f7f6f6;
}
legend{
    width: auto;
    padding: 0 10px;
    margin-left:10px
}
