<div class="container">
    <h2 class="text-center">Mon compte</h2>
    <div class="alerte"></div>
    <div class="row">
        <div class="col-md-6">

            <fieldset>
                <legend>Modifier compte</legend>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nom">Nom : </label>
                            <input class="form-control" type="text" name="nom">
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="prenom">Prénom : </label>
                            <input class="form-control" type="text" name="prenom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="email">Email : </label>
                            <input class="form-control" type="email" name="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password : </label>
                            <input class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="adresse">Adresse : </label>
                            <input class="form-control" type="text" name="adresse">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ville">Ville : </label>
                            <input class="form-control" type="text" name="ville">
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <label for="telephone">Téléphone : </label>
                            <input class="form-control" type="number" name="telephone">
                        </div>
                        <div class="col-md-6 text-center">
                            <button type="submit">Modifier</button>
                        </div>

                    </div>


                </form>

            </fieldset>

        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Historique des emprunts</legend>
                <ul>
                    <li>
                        <img src="" alt="">
                        <p>titre</p>
                        <p>Date emprunt</p>
                        <p>Date retour</p>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>